#slider_div{

    height: 500px;
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    justify-content: space-around
}
#slider_one{
    width: 90%;
    margin: auto;
   height: 31%;
   border: 0px solid;
   display: grid;
   grid-template-columns: repeat(9,1fr);
}
#slider_one div{
    border: 0px solid;
}
#slider_two{
    width: 90%;
    margin: auto;
    height: 31%;
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(9,1fr);
 }
 #slider_two div{
    border: 0px solid;
}
 #slider_three{
    width: 90%;
    margin: auto;
    height: 31%;
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(9,1fr);
 }
 #slider_three div{
    border: 0px solid;
}
 #img_slider{
    height: 77%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #img_slider img{
    border-radius: 50%;
    height: 70%;
    width: 70%;
 }
 #img_title{
    height: 20%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 /* Grocery Div */
 #Grocery_slider_div{
    width: 90%;
    margin: auto;
    height: 550px;
    border: 0px solid red;
    margin-top: 10px;
 }
 #Grocery_slider_div_headers{
    height: 13%;
    border: 0px solid;
    text-align: center;
 }
 #Grocery_slider_div_sliders{
    height: 83%;
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    border: 0px solid;
 }
 #grocery_div_sli{
    display: flex;
    flex-direction: column;
    border: 0px solid blue;
 }
 #slider_pic{
    border: 0px solid;
    height: 85%;
 }
 #slider_pic img{
    width: 80%;
    height: 80%;
 }
 #slider_pic img:hover{
    transform: scale(1.09);
    cursor: pointer;
 }
 #slider_title{
    border: 0px solid green;
    height: 15%;
    text-align: center;
 }
 /* jwellary Div */
 #jwellary_slider_div{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    height: 550px;
    border: 0px solid red;
    margin-top: 10px;
 }

 /* About */
 .about{
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
 }
 ._2joD{
    color: grey;
 }
 /* Help And contact */
 #help_about{
    height: 250px;
    width: 90%;
    margin: auto;
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    text-align: center;
}
#help_child_div{
    border: 0px solid;
    display: flex;
    flex-direction: column;
}
#help_icon{
    height: 25%;
    border: 0px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
#help_title{
    color: gray;
    height: 25%;
    border: 0px solid;
}
#help_para{
    color: gray;
    height: 50%;
    border: 0px solid;
}
.fa-solid {
    color: gray;
}