*{
    font-family: sans-serif;
}
#navbar{
    border: 0px solid black;
    height: 130px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
#logo_img{
    height: 100%;
}
#logo_nav{
    height: 60%;
    border: 0px solid;
    text-align: center;
}
#search_nav{
    border: 0px solid blue;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    /*category hamberger  */
}
#search_nav:hover{
    cursor: pointer;
}
#hamberger_div{
    width: 15%;
    border: 1px solid gray;
    height: 90%;
}
#hamberger_div:hover{
    cursor: pointer;
}
#search_inp{
    width: 48%;
    border: 1px solid;
    height: 90%;
}
#search_inp:hover{
    cursor: pointer;
}
#order_div{
    width:35%;
    border: 0px ;
    height: 90%;
}
#myorders{
    display: flex;
    justify-content: center;
    align-items: center;
}
#orders_btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    border: 0px;
    font-weight: bold;
    border-radius: 10px;
}
#orders_btn i{
    color: #DD0285;
}
#orders_btn i:hover{
    color: #f9f9f9;
}
#orders_btn:hover{
    cursor: pointer;
    background-color: #DD0285;
    color: #f9f9f9;
}
#cart_value{
    display: flex;
    justify-content: center;
    align-items: center;

}
#my_cart_btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    border: 0px;
    font-weight: bold;
    color: grey;
}
#my_cart_btn:hover{
    background-color: #DD0285;
    color: #f9f9f9;
    cursor: pointer;
}
#my_cart_btn i:hover{
    background-color: #DD0285;
    color: #f9f9f9;
    cursor: pointer;
}
#cart_value:hover{
    background-color: #DD0285;
    color: #f9f9f9;
    cursor: pointer;
}

#myCartPrice{
    white-space: nowrap;
}
/* dropdown of register */

#btn3{
    width: 40%;
    height:70% ;
    border: transparent;
    font-size: 16px;
    background-color: transparent;
    white-space: nowrap;
    cursor: pointer;
}
#btn3_div{
    position: relative;
  display: inline-block;
  display: flex;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  #admin_name{

  }
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #btn3_div:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover #btn3 {
    background-color: #3e8e41;
  }
  .dropdown-content>button{
    width: 100%;
    background-color: transparent;
    border: transparent;
  }
  .dropdown-content>button:hover{
    background-color: #DD0285;
    color: white;
    font-weight: bold;
  }
#dropdowndon-content-navbar-btn_div{
    position: relative;
    display: flex;
}
/* dropdown ends */
#hamberger_div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: inline-block;
}
#hamberger_div i{
margin-top: 10px;
}
#cat_links{
    margin-top: 50px;
    width: 350%;
    display: none;
    position: absolute;
    background-color:white
}

#cat_links a button{
    background: none;
    color: rgb(23, 24, 24);
    font-size: larger;
    border: 0px;
}
#cat_links a button:hover{
    cursor: pointer;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hamberger_div a.icon {
    background:white;
    color: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* seach and input of nav */
  #search_inp{
    display: flex;
  }
  #inp{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #inp input{
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #search_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(228, 104, 58);
  }
#inp_search_inp{
    text-align: center;
    border: 0px;
}
#order_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#myorders{
    width: 31%;
    height: 88%;
    border: 0px solid;
}
#cart_value{
    width: 31%;
    height: 88%;
    border: 0px solid;

}
#sign_login{
    width: 31%;
    height: 88%;
    border: 0px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-solid {
    color: gray;
}

/* Navbar ends */


/* Footer Div */
#footer_div{
    margin-top: 10px;
    height: 340px;
    border:50x solid red
}
#footer{
    height: 100%;
    width: 95%;
    border:30x solid purple;
    margin: auto;
}
#footer_nav{
    height: 12%;
    width: 100%;
    margin: auto;
    border:10x solid blue;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#btn_t_ft{
    width: 70%;
    border: 0px solid red;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#btn_t_ft button{
    background: transparent;
    border: 0px;
    color: orangered;
    font-size: 13px;
    white-space: nowrap;
}
#icons_t_ft{
    width:30% ;
    border: 0px solid blue;
    height: 100%;
    text-align: right;
    display: flex;
     justify-content: right;
    align-items: center;
}
#real_btns{
    width: 50%;
    border: 0px solid;
    text-align: right;
    display: flex;
    justify-content: space-around;
}
#real_btns i{
    color: rgb(240, 101, 50);
}
#cards_nav{
    height: 15%;
    width: 100%;
    margin: auto;
    border: 0px solid orangered;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#payment_logo{
    width: 40%;
    border: 0px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
#payment_logo img{
    width: 90%;
  
}
#ftr_admn{
    width: 20%;
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer_btns{
    height: 63%;
    margin: auto;
    border: 0px solid yellowgreen;
    margin-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#p_div{
    height: 15%;
    border: 0px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: bolder;
}
#btns_ft_div{
    height: 80%;
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#abc{
    border: 0px solid purple;
    display: grid;
    grid-template-rows: repeat(3.1fr);
}
#abc div{
    border: 0px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
#abc div button{
    height: 60%;
    border: 0px;
    background: transparent;

}
#abc div button i{
    color: black;
    margin-left: 5px;
}
